<% if session[:message] %>
  <div class="message">
    <p><%= session.delete(:message) %></p>
  </div>
<% end %>

<ul>
  <% @files.each do |file| %>
  <li>
    <a href="<%= file %>"><%= file %></a>
    <form class="inline" method="get" action="<%= file %>/edit">
      <button type="submit">edit</button>
    </form>
    <form class="inline" method="post", action="<%= file %>/delete">
      <button type="submit">delete</button>
    </form>
  </li>
  <% end %>
</ul>

<div>
  <a href="/document/new">New document</a>
</div>
